.landing-header {
  display: block;
  font-weight: bold;
  font-size: 45px;
}

.landing-header__remembr {
  color: #6c63ff;
}

.landing-header__description {
  color: black;
}

.landing__description {
  font-size: larger;
  color: #707983;
}

.landing__description_small,
.landing__description_small a {
  font-size: small;
  color: #707983;
}

.linkedin_post {
  padding: 5px;
}
